@using System.Collections.Generic;
@model List<Student>
    @{
        ViewData["Title"] = "Student Page";
        //Layout = "~/Views/Shared/_Layout2.cshtml";
    }

    @*<h1>Student -> Index -> @ViewData["StudentId"]</h1>*@
<a class="btn btn-primary" asp-controller="Student" asp-action="Create">Create</a>
    @foreach(var std in Model){
<div>
    <h1>StudentId: @std.StudentId</h1>
    <h1>Fullname: @std.Fullname</h1>
    <h1>Gender: @std.Gender</h1>
    <h1>Dob: @std.Dob</h1>
    @*<a href="/Student/Detail/@std.StudentId" class="btn btn-secondary">Detail</a>*@
    <a asp-controller="Student" asp-action="Detail" asp-route-stdId="@std.StudentId" asp-route-fn="@std.Fullname" class="btn btn-secondary">Detail</a>
    <hr />
</div>
    }

