@model C0621H2Shop.Models.Product.DetailProduct

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
    var category = ViewBag.Category as C0621H2Shop.Entities.Category;

}

<h1>@category.CategoryName &gt; Details</h1>

<div>
    <h4>DetailProduct</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pictures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pictures)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success text-white" asp-controller="Product" asp-action="Edit" asp-route-productId="@Model.ProductId">
        Edit
    </a>
    <a class="btn btn-danger text-white" asp-controller="Product" asp-action="Remove" asp-route-productId="@Model.ProductId">
        <i class="fa fa-trash"> Remove</i>
    </a>
    <a class="btn btn-outline-secondary" asp-controller="Product" asp-action="Index" asp-route-catId="@category.CategoryId">
        <i class="fa fa-backward"> Back to List</i>
    </a>
</div>
